.container {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: url("../imageData/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    border-radius: 30px;
    margin-top: 19px;
  }
  h1 {
    padding: 30px;
    color: white;
    font-size: 50px;
  }
  label {
    color: white;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 80%;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
  }
  .login-btn {
    border: none;
    width: 80%;
    padding: 10px;
    border-radius: 30px;
  }
  .login-btn:hover {
    color: white;
    background: orange;
  }