.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: url("../imageData/background5.jpg");
  }
  .total-price {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 1rem;
    font-size: 20px;
  }
  .logout-btn {
    padding: 10px;
    background-color: orangered;
    border: none;

  }
  .logout-btn:hover {
    background-color: blueviolet;
  }

  .orderBtn {
    width: 100px;
    margin-bottom: auto;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgba(21, 26, 42, 0.787);
    border-radius: 10px;
  }