.products-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    background: url("../imageData/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .buyBtn {
    width: 100%;
    margin-bottom: auto;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgba(21, 26, 42, 0.787);
    border-radius: 10px;
  }
  .buyBtn:hover {
    background: orangered;
    color: darkgrey;
  }
  .card {
    width: 250px;
    height: 300;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px 10px #ccc;
    background: aquamarine;
    border-radius: 20px;
  }
  .card img {
    width: 90%;
    height: 130px;
  }
  .card > p {
    padding: 10px;
  }
  .card:hover {
    box-shadow: 10px 10px 10px 10px blueviolet;
  }
  
  .orderBtn {
    width: 200px;
    background: orangered;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  .orderBtn:hover {
    background: rgb(89, 0, 190);
  }